<%=form_for(@user) do |f|%>
<%if @user.errors.any? %>
<div id="errorExplanation">
	<h2><%= pluralize(@user.errors.count, 'error')%> prohibited the user from being saved</h2>
	
	<ul>
		<%@user.errors.map do |k,v|%>
		<li><%="#{k}: #{v}"%></li>
		<%end%>
	</ul>
	
</div>
<%end%>

<div class="field">
	<%=f.label :first_name%><br/>
	<%=f.text_field :first_name%>
</div>

<div class="field">
	<%=f.label :last_name%><br/>
	<%=f.text_field :last_name%>
</div>

<div class="field">
	<%=f.label :age%><br/>
	<%=f.text_field :age%>
</div>

<div class="field">
	<%=f.label :twitter%><br/>
	<%=f.text_field :twitter%>
</div>

<br/><br/>
<div class="actions">
	<%=f.submit%>
</div>
<%end%>
